.comment {
  padding: 15px 10px;
  border-bottom: 1px #eee solid;
}
.comment .comment-info {
  display: flex;
  justify-content: space-between;
}
.comment .comment-user {
  display: flex;
  align-items: center;
}
.comment img {
  width: 10vw;
  height: 10vw;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.comment .user-info {
  font-size: 13px;
  line-height: 1.5;
}
.comment .user-info span {
  font-size: 12px;
  color: #999;
}
.comment .reply {
  font-size: 13px;
  color: #666;
}
.comment .comment-content {
  padding: 15px 0 0;
}
